# Ejercicio 1: Generación de conjuntos de datos experimentales

Una de las habilidades de un experto en inteligencia artificial y aprendizaje automático es tener la capacidad de generar conjuntos de datos experimentales para poner a prueba los diferentes modelos que va construyendo durante el desarrollo de su carrera. Investiga cuáles de las diversas herramientas de Python incluyen la funcionalidad de realizar esta acción y construye artificialmente los siguientes conjuntos de datos:
1. Conjunto de datos de tres características linealmente relacionados.
2. Conjunto de datos de cuatro características, relacionados de forma completa, no lineal.
3. Conjunto de datos que, de manera prevista, puedan expresar una relación lineal.

### 1. Conjunto de datos de tres características linealmente relacionados.

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

X1 = np.random.rand(100)
X2 = 2 * X1 + np.random.normal(0, 0.1, 100)
X3 = 3 * X1 + np.random.normal(0, 0.1, 100)
y = 3*X1 + 2*X2 + X3 + np.random.normal(0, 0.1, 100)

df_linear = pd.DataFrame({'X1': X1, 'X2': X2, 'X3': X3, 'y': y})
df_linear.head()

         X1        X2        X3         y
0  0.374540  0.757785  1.124921  3.784017
1  0.950714  1.871528  2.997496  9.532673
2  0.731994  1.473164  2.169516  7.318806
3  0.598658  0.998560  2.067992  5.822557
4  0.156019  0.290070  0.530623  1.590170

### 2. Conjunto de datos de cuatro características, relacionados de forma completa, no lineal.

In [2]:
from sklearn.datasets import make_classification

X, y = make_classification(
    n_samples=200,
    n_features=4,
    n_informative=3,
    n_redundant=1,
    n_classes=2,
    random_state=42,
    class_sep=0.5
)

df_nonlinear = pd.DataFrame(X, columns=['X1', 'X2', 'X3', 'X4'])
df_nonlinear['Clase'] = y
df_nonlinear.head()

         X1        X2        X3        X4  Clase
0  1.406484 -1.299831 -0.465512 -1.395696      0
1 -0.601875  1.993410  1.561121  0.584516      1
2  1.482068  2.142358  0.750049 -1.080164      1
3  1.458343  1.955314 -1.152526 -0.708872      1
4 -0.373964  0.248488  0.406534  0.296250      1

### 3. Conjunto de datos que, de manera prevista, puedan expresar una relación lineal.

In [3]:
from sklearn.datasets import make_regression

X, y = make_regression(
    n_samples=150,
    n_features=3,
    noise=20,
    random_state=42
)

df_expected_linear = pd.DataFrame(X, columns=['X1', 'X2', 'X3'])
df_expected_linear['y'] = y
df_expected_linear.head()

         X1        X2        X3           y
0  0.645376  1.368632  0.971571  192.741731
1  1.532739 -0.108760  0.519347  132.991831
2 -0.692910  0.899600  0.357015   23.824100
3  0.473592 -0.919424 -1.062304  -86.709989
4  1.032465 -1.519370  2.122156  107.334872